html {
  font-family: "Open sans";
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 1.5;
  color: rgb(0, 20, 46);
}

a:link {
  color: rgb(0, 20, 46);
  text-decoration: underline;
}

a:visited {
  color: red;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

body {
  max-width: 90%;
  margin: auto;
  background: radial-gradient(rgb(255, 255, 255), rgb(173, 173, 173));
}

/*body {
    background-image: url('https://st2.depositphotos.com/2013817/9205/v/950/depositphotos_92055096-stock-illustration-background-with-artist-and-writer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right ;

}*/

/*blockquote {
    max-width: 50%;
    margin: auto;
    background-color: rgba(128, 128, 128, 0.5);
    border-left: solid 3px rgb(0, 0, 0);
    padding: 30px;
    margin-top: 80px;
    margin-bottom: 80px;  
    
}

q {
    font-size: 160%;
    font-style: italic;
}*/

q {
  max-width: 50%;
  margin: auto;
  background-color: rgba(128, 128, 128, 0.3);
  border-left: solid 3px rgb(0, 0, 0);
  padding: 30px;
  margin-top: 80px;
  margin-bottom: 80px;
  display: block;

  font-size: 160%;
  font-style: italic;
}

.villagers {
  border-left: solid 3px rgb(97, 0, 100);
}

.farmer {
  border-left: solid 3px rgb(30, 95, 0);
}

header > p {
  background-color: yellow;
}

body > section > blockquote > h2 > q {
  font-style: italic;
}

.good,
.bad {
  text-transform: capitalize;
}

.good {
  color: green;
}

.bad {
  color: red;
}

table,
th,
td {
  border-collapse: collapse;
  text-align: left;
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 50%;
}

table {
  background-color: white;
}

th,
tr:nth-child(even) {
  background-color: rgb(175, 175, 175);
}

p:first-of-type {
  font-weight: bold;
}

img {
  max-width: 40%;
  float: left;
  margin: 20px;
}
