p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 1.5;
    color: rgb(0, 46, 107);
}

a:link {
    color: red;
}

/*a:hover {
    color:blue;
    text-decoration: underline;
}

a:visited {
    color:grey;
}